{{#extends 'main'}}

{{#block 'body'}}
<div class="container">
    <div class="post">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <div class="post-footer">
            Posted by {{user.username}} on {{format_date createdAt}}
        </div>
    </div>

    <div class="comments">
        <h3>Comments</h3>
        {{#each comments}}
        <div class="comment">
            <p>{{comment_text}}</p>
            <div class="comment-footer">
                Posted by {{user.username}} on {{format_date createdAt}}
            </div>
        </div>
        {{/each}}
    </div>

    {{#if logged_in}}
    <div class="new-comment">
        <h3>Leave a Comment</h3>
        <form id="new-comment-form">
            <textarea id="comment-text" name="comment_text" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    {{else}}
    <p><a href="/login">Log in</a> to leave a comment.</p>
    {{/if}}
</div>
<script src="/js/post.js"></script>
{{/block}}
